@font-face {
  font-family: OakSans;
  src: url(../fonts/OakSans/fonts/variable/OakSansVF.woff2);
}

@font-face {
  font-family: OakSans;
  font-style: italic;
  src: url(../fonts/OakSans/fonts/variable/OakSans-ItalicVF.woff2);
}
