@font-face {
  font-family: OakSans;
  src: url(../fonts/OakSans/fonts/variable/OakSansVF.woff2);
}

@font-face {
  font-family: OakSans;
  font-style: italic;
  src: url(../fonts/OakSans/fonts/variable/OakSans-ItalicVF.woff2);
}

body {
  /* Fix font rendering */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: never;
}
