:root {
  --color-alias-neutral-1: light-dark(var(--palette-iron-1), var(--palette-irondark-1));
  --color-alias-neutral-2: light-dark(var(--palette-iron-2), var(--palette-irondark-2));
  --color-alias-neutral-3: light-dark(var(--palette-iron-3), var(--palette-irondark-3));
  --color-alias-neutral-4: light-dark(var(--palette-iron-4), var(--palette-irondark-4));
  --color-alias-neutral-5: light-dark(var(--palette-iron-5), var(--palette-irondark-5));
  --color-alias-neutral-6: light-dark(var(--palette-iron-6), var(--palette-irondark-6));
  --color-alias-neutral-7: light-dark(var(--palette-iron-7), var(--palette-irondark-7));
  --color-alias-neutral-8: light-dark(var(--palette-iron-8), var(--palette-irondark-8));
  --color-alias-neutral-9: light-dark(var(--palette-iron-9), var(--palette-irondark-9));
  --color-alias-neutral-10: light-dark(var(--palette-iron-10), var(--palette-irondark-10));
  --color-alias-neutral-11: light-dark(var(--palette-iron-11), var(--palette-irondark-11));
  --color-alias-neutral-12: light-dark(var(--palette-iron-12), var(--palette-irondark-12));
  --color-alias-neutral-13: light-dark(var(--palette-iron-13), var(--palette-irondark-13));
  --color-alias-neutral-14: light-dark(var(--palette-iron-14), var(--palette-irondark-14));
  --color-alias-neutral-15: light-dark(var(--palette-iron-15), var(--palette-irondark-15));
  --color-alias-neutral-alpha-1: light-dark(var(--palette-iron-alpha-1), var(--palette-irondark-alpha-1));
  --color-alias-neutral-alpha-2: light-dark(var(--palette-iron-alpha-2), var(--palette-irondark-alpha-2));
  --color-alias-neutral-alpha-3: light-dark(var(--palette-iron-alpha-3), var(--palette-irondark-alpha-3));
  --color-alias-neutral-alpha-4: light-dark(var(--palette-iron-alpha-4), var(--palette-irondark-alpha-4));
  --color-alias-neutral-alpha-5: light-dark(var(--palette-iron-alpha-5), var(--palette-irondark-alpha-5));
  --color-alias-neutral-alpha-6: light-dark(var(--palette-iron-alpha-6), var(--palette-irondark-alpha-6));
  --color-alias-neutral-alpha-7: light-dark(var(--palette-iron-alpha-7), var(--palette-irondark-alpha-7));
  --color-alias-neutral-alpha-8: light-dark(var(--palette-iron-alpha-8), var(--palette-irondark-alpha-8));
  --color-alias-neutral-alpha-9: light-dark(var(--palette-iron-alpha-9), var(--palette-irondark-alpha-9));
  --color-alias-neutral-alpha-10: light-dark(var(--palette-iron-alpha-10), var(--palette-irondark-alpha-10));
  --color-alias-neutral-alpha-11: light-dark(var(--palette-iron-alpha-11), var(--palette-irondark-alpha-11));
  --color-alias-neutral-alpha-12: light-dark(var(--palette-iron-alpha-12), var(--palette-irondark-alpha-12));
  --color-alias-neutral-alpha-13: light-dark(var(--palette-iron-alpha-13), var(--palette-irondark-alpha-13));
  --color-alias-neutral-alpha-14: light-dark(var(--palette-iron-alpha-14), var(--palette-irondark-alpha-14));
  --color-alias-neutral-alpha-15: light-dark(var(--palette-iron-alpha-15), var(--palette-irondark-alpha-15));
  --color-alias-accent-1: light-dark(var(--palette-indigo-1), var(--palette-indigodark-1));
  --color-alias-accent-2: light-dark(var(--palette-indigo-2), var(--palette-indigodark-2));
  --color-alias-accent-3: light-dark(var(--palette-indigo-3), var(--palette-indigodark-3));
  --color-alias-accent-4: light-dark(var(--palette-indigo-4), var(--palette-indigodark-4));
  --color-alias-accent-5: light-dark(var(--palette-indigo-5), var(--palette-indigodark-5));
  --color-alias-accent-6: light-dark(var(--palette-indigo-6), var(--palette-indigodark-6));
  --color-alias-accent-7: light-dark(var(--palette-indigo-7), var(--palette-indigodark-7));
  --color-alias-accent-8: light-dark(var(--palette-indigo-8), var(--palette-indigodark-8));
  --color-alias-accent-9: light-dark(var(--palette-indigo-9), var(--palette-indigodark-9));
  --color-alias-accent-10: light-dark(var(--palette-indigo-10), var(--palette-indigodark-10));
  --color-alias-accent-11: light-dark(var(--palette-indigo-11), var(--palette-indigodark-11));
  --color-alias-accent-12: light-dark(var(--palette-indigo-12), var(--palette-indigodark-12));
  --color-alias-accent-13: light-dark(var(--palette-indigo-13), var(--palette-indigodark-13));
  --color-alias-accent-14: light-dark(var(--palette-indigo-14), var(--palette-indigodark-14));
  --color-alias-accent-15: light-dark(var(--palette-indigo-15), var(--palette-indigodark-15));
  --color-alias-accent-alpha-1: light-dark(var(--palette-indigo-alpha-1), var(--palette-indigodark-alpha-1));
  --color-alias-accent-alpha-2: light-dark(var(--palette-indigo-alpha-2), var(--palette-indigodark-alpha-2));
  --color-alias-accent-alpha-3: light-dark(var(--palette-indigo-alpha-3), var(--palette-indigodark-alpha-3));
  --color-alias-accent-alpha-4: light-dark(var(--palette-indigo-alpha-4), var(--palette-indigodark-alpha-4));
  --color-alias-accent-alpha-5: light-dark(var(--palette-indigo-alpha-5), var(--palette-indigodark-alpha-5));
  --color-alias-accent-alpha-6: light-dark(var(--palette-indigo-alpha-6), var(--palette-indigodark-alpha-6));
  --color-alias-accent-alpha-7: light-dark(var(--palette-indigo-alpha-7), var(--palette-indigodark-alpha-7));
  --color-alias-accent-alpha-8: light-dark(var(--palette-indigo-alpha-8), var(--palette-indigodark-alpha-8));
  --color-alias-accent-alpha-9: light-dark(var(--palette-indigo-alpha-9), var(--palette-indigodark-alpha-9));
  --color-alias-accent-alpha-10: light-dark(var(--palette-indigo-alpha-10), var(--palette-indigodark-alpha-10));
  --color-alias-accent-alpha-11: light-dark(var(--palette-indigo-alpha-11), var(--palette-indigodark-alpha-11));
  --color-alias-accent-alpha-12: light-dark(var(--palette-indigo-alpha-12), var(--palette-indigodark-alpha-12));
  --color-alias-accent-alpha-13: light-dark(var(--palette-indigo-alpha-13), var(--palette-indigodark-alpha-13));
  --color-alias-accent-alpha-14: light-dark(var(--palette-indigo-alpha-14), var(--palette-indigodark-alpha-14));
  --color-alias-accent-alpha-15: light-dark(var(--palette-indigo-alpha-15), var(--palette-indigodark-alpha-15));
  --color-alias-success-1: light-dark(var(--palette-emerald-1), var(--palette-viridiandark-1));
  --color-alias-success-2: light-dark(var(--palette-emerald-2), var(--palette-viridiandark-2));
  --color-alias-success-3: light-dark(var(--palette-emerald-3), var(--palette-viridiandark-3));
  --color-alias-success-4: light-dark(var(--palette-emerald-4), var(--palette-viridiandark-4));
  --color-alias-success-5: light-dark(var(--palette-emerald-5), var(--palette-viridiandark-5));
  --color-alias-success-6: light-dark(var(--palette-emerald-6), var(--palette-viridiandark-6));
  --color-alias-success-7: light-dark(var(--palette-emerald-7), var(--palette-viridiandark-7));
  --color-alias-success-8: light-dark(var(--palette-emerald-8), var(--palette-viridiandark-8));
  --color-alias-success-9: light-dark(var(--palette-emerald-9), var(--palette-viridiandark-9));
  --color-alias-success-10: light-dark(var(--palette-emerald-10), var(--palette-viridiandark-10));
  --color-alias-success-11: light-dark(var(--palette-emerald-11), var(--palette-viridiandark-11));
  --color-alias-success-12: light-dark(var(--palette-emerald-12), var(--palette-viridiandark-12));
  --color-alias-success-13: light-dark(var(--palette-emerald-13), var(--palette-viridiandark-13));
  --color-alias-success-14: light-dark(var(--palette-emerald-14), var(--palette-viridiandark-14));
  --color-alias-success-15: light-dark(var(--palette-emerald-15), var(--palette-viridiandark-15));
  --color-alias-critical-1: light-dark(var(--palette-cinnabar-1), var(--palette-rubydark-1));
  --color-alias-critical-2: light-dark(var(--palette-cinnabar-2), var(--palette-rubydark-2));
  --color-alias-critical-3: light-dark(var(--palette-cinnabar-3), var(--palette-rubydark-3));
  --color-alias-critical-4: light-dark(var(--palette-cinnabar-4), var(--palette-rubydark-4));
  --color-alias-critical-5: light-dark(var(--palette-cinnabar-5), var(--palette-rubydark-5));
  --color-alias-critical-6: light-dark(var(--palette-cinnabar-6), var(--palette-rubydark-6));
  --color-alias-critical-7: light-dark(var(--palette-cinnabar-7), var(--palette-rubydark-7));
  --color-alias-critical-8: light-dark(var(--palette-cinnabar-8), var(--palette-rubydark-8));
  --color-alias-critical-9: light-dark(var(--palette-cinnabar-9), var(--palette-rubydark-9));
  --color-alias-critical-10: light-dark(var(--palette-cinnabar-10), var(--palette-rubydark-10));
  --color-alias-critical-11: light-dark(var(--palette-cinnabar-11), var(--palette-rubydark-11));
  --color-alias-critical-12: light-dark(var(--palette-cinnabar-12), var(--palette-rubydark-12));
  --color-alias-critical-13: light-dark(var(--palette-cinnabar-13), var(--palette-rubydark-13));
  --color-alias-critical-14: light-dark(var(--palette-cinnabar-14), var(--palette-rubydark-14));
  --color-alias-critical-15: light-dark(var(--palette-cinnabar-15), var(--palette-rubydark-15));
  --color-alias-highlight-1: light-dark(var(--palette-sapphire-1), var(--palette-sapphiredark-1));
  --color-alias-highlight-2: light-dark(var(--palette-sapphire-2), var(--palette-sapphiredark-2));
  --color-alias-highlight-3: light-dark(var(--palette-sapphire-3), var(--palette-sapphiredark-3));
  --color-alias-highlight-4: light-dark(var(--palette-sapphire-4), var(--palette-sapphiredark-4));
  --color-alias-highlight-5: light-dark(var(--palette-sapphire-5), var(--palette-sapphiredark-5));
  --color-alias-highlight-6: light-dark(var(--palette-sapphire-6), var(--palette-sapphiredark-6));
  --color-alias-highlight-7: light-dark(var(--palette-sapphire-7), var(--palette-sapphiredark-7));
  --color-alias-highlight-8: light-dark(var(--palette-sapphire-8), var(--palette-sapphiredark-8));
  --color-alias-highlight-9: light-dark(var(--palette-sapphire-9), var(--palette-sapphiredark-9));
  --color-alias-highlight-10: light-dark(var(--palette-sapphire-10), var(--palette-sapphiredark-10));
  --color-alias-highlight-11: light-dark(var(--palette-sapphire-11), var(--palette-sapphiredark-11));
  --color-alias-highlight-12: light-dark(var(--palette-sapphire-12), var(--palette-sapphiredark-12));
  --color-alias-highlight-13: light-dark(var(--palette-sapphire-13), var(--palette-sapphiredark-13));
  --color-alias-highlight-14: light-dark(var(--palette-sapphire-14), var(--palette-sapphiredark-14));
  --color-alias-highlight-15: light-dark(var(--palette-sapphire-15), var(--palette-sapphiredark-15));
  --color-static-transparent: transparent;
  --color-background-strong: var(--color-alias-neutral-11);
  --color-background-muted: var(--color-alias-neutral-5);
  --color-background-muted-hover: var(--color-alias-neutral-6);
  --color-background-muted-active: var(--color-alias-neutral-7);
  --color-background-subtle: var(--color-alias-neutral-4);
  --color-background-subtle-hover: var(--color-alias-neutral-5);
  --color-background-subtle-active: var(--color-alias-neutral-6);
  --color-background-transparent: var(--color-static-transparent);
  --color-background-disabled: var(--color-alias-neutral-alpha-3);
  --color-background-accent-strong: light-dark(var(--color-alias-accent-11), var(--color-alias-accent-10));
  --color-background-accent-strong-hover: light-dark(var(--color-alias-accent-12), var(--color-alias-accent-11));
  --color-background-accent-strong-active: light-dark(var(--color-alias-accent-13), var(--color-alias-accent-12));
  --color-background-accent-muted: var(--color-alias-accent-5);
  --color-background-accent-muted-hover: var(--color-alias-accent-6);
  --color-background-accent-muted-active: var(--color-alias-accent-7);
  --color-background-accent-subtle: var(--color-alias-accent-4);
  --color-background-accent-subtle-hover: var(--color-alias-accent-5);
  --color-background-accent-subtle-active: var(--color-alias-accent-6);
  --color-background-accent-selected: var(--color-alias-accent-6);
  --color-background-success-strong: var(--color-alias-success-11);
  --color-background-success-muted: var(--color-alias-success-5);
  --color-background-success-subtle: var(--color-alias-success-4);
  --color-background-critical-strong: var(--color-alias-critical-11);
  --color-background-critical-strong-hover: var(--color-alias-critical-12);
  --color-background-critical-strong-active: var(--color-alias-critical-13);
  --color-background-critical-muted: var(--color-alias-critical-5);
  --color-background-critical-muted-hover: var(--color-alias-critical-6);
  --color-background-critical-muted-active: var(--color-alias-critical-7);
  --color-background-critical-subtle: var(--color-alias-critical-4);
  --color-background-critical-subtle-hover: var(--color-alias-critical-5);
  --color-background-critical-subtle-active: var(--color-alias-critical-6);
  --color-background-critical-selected: var(--color-alias-critical-6);
  --color-background-highlight-strong: var(--color-alias-highlight-11);
  --color-background-highlight-muted: var(--color-alias-highlight-5);
  --color-background-highlight-subtle: var(--color-alias-highlight-4);
  --color-background-inverse: light-dark(var(--palette-irondark-4), var(--palette-iron-4));
  --color-background-inverse-hover: light-dark(var(--palette-irondark-5), var(--palette-iron-5));
  --color-background-inverse-active: light-dark(var(--palette-irondark-6), var(--palette-iron-6));
  --color-border: var(--color-alias-neutral-8);
  --color-border-hover: var(--color-alias-neutral-9);
  --color-border-subtle: var(--color-alias-neutral-7);
  --color-border-subtle-hover: var(--color-alias-neutral-8);
  --color-border-strong: light-dark(var(--color-alias-neutral-13), var(--color-alias-neutral-9));
  --color-border-selected: var(--color-alias-neutral-9);
  --color-border-disabled: var(--color-alias-neutral-5);
  --color-border-accent: var(--color-alias-accent-8);
  --color-border-accent-subtle: var(--color-alias-accent-7);
  --color-border-accent-strong: var(--color-alias-accent-10);
  --color-border-accent-selected: var(--color-alias-accent-10);
  --color-border-success: var(--color-alias-success-8);
  --color-border-success-subtle: var(--color-alias-success-7);
  --color-border-critical: var(--color-alias-critical-8);
  --color-border-critical-subtle: var(--color-alias-critical-7);
  --color-border-critical-strong: var(--color-alias-critical-10);
  --color-border-highlight: var(--color-alias-highlight-8);
  --color-border-highlight-subtle: var(--color-alias-highlight-7);
  --color-icon: var(--color-alias-neutral-10);
  --color-icon-hover: var(--color-alias-neutral-11);
  --color-icon-disabled: var(--color-alias-neutral-9);
  --color-icon-accent: var(--color-alias-accent-11);
  --color-icon-success: var(--color-alias-success-11);
  --color-icon-critical: var(--color-alias-critical-11);
  --color-icon-highlight: var(--color-alias-highlight-11);
  --color-icon-static-black: var(--palette-black);
  --color-icon-static-white: var(--palette-white);
  --color-icon-static-inverse: light-dark(var(--palette-white), var(--palette-iron-15));
  --color-surface: light-dark(var(--color-alias-neutral-1), var(--color-alias-neutral-2));
  --color-surface-sunken: light-dark(var(--color-alias-neutral-2), var(--color-alias-neutral-1));
  --color-surface-raised: light-dark(var(--color-alias-neutral-1), var(--color-alias-neutral-3));
  --color-surface-overlay: light-dark(var(--color-alias-neutral-1), var(--color-alias-neutral-4));
  --color-text: var(--color-alias-neutral-15);
  --color-text-muted: var(--color-alias-neutral-14);
  --color-text-subtle: var(--color-alias-neutral-13);
  --color-text-placeholder: var(--color-alias-neutral-10);
  --color-text-disabled: var(--color-alias-neutral-9);
  --color-text-link: var(--color-text-accent-subtle);
  --color-text-accent: var(--color-alias-accent-15);
  --color-text-accent-muted: var(--color-alias-accent-14);
  --color-text-accent-subtle: var(--color-alias-accent-13);
  --color-text-success: var(--color-alias-success-15);
  --color-text-success-muted: var(--color-alias-success-14);
  --color-text-success-subtle: var(--color-alias-success-13);
  --color-text-critical: var(--color-alias-critical-15);
  --color-text-critical-muted: var(--color-alias-critical-14);
  --color-text-critical-subtle: var(--color-alias-critical-13);
  --color-text-highlight: var(--color-alias-highlight-15);
  --color-text-highlight-muted: var(--color-alias-highlight-14);
  --color-text-highlight-subtle: var(--color-alias-highlight-13);
  --color-text-static-black: light-dark(var(--palette-white), var(--palette-black));
  --color-text-static-white: var(--palette-white);
  --color-text-inverse: light-dark(var(--palette-white), var(--palette-iron-15));
  --color-text-inverse-muted: light-dark(var(--palette-irondark-14), var(--palette-iron-14));
  --color-text-inverse-subtle: light-dark(var(--palette-irondark-13), var(--palette-iron-13));
}
