.typography.display-l {
  font-family: OakSans, system-ui;
  font-weight: 550;
  font-size: 80px;
  line-height: 96px;
  letter-spacing: -1.5px;
}

.typography.display-m {
  font-family: OakSans, system-ui;
  font-weight: 550;
  font-size: 60px;
  line-height: 72px;
  letter-spacing: -1px;
}

.typography.display-s {
  font-family: OakSans, system-ui;
  font-weight: 550;
  font-size: 48px;
  line-height: 58px;
  letter-spacing: -0.5px;
}

.typography.heading-xl,
h1 {
  font-family: OakSans, system-ui;
  font-weight: 550;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: -0.4px;
}

.typography.heading-l,
h2 {
  font-family: OakSans, system-ui;
  font-weight: 550;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: -0.2px;
}

.typography.heading-m,
h3 {
  font-family: OakSans, system-ui;
  font-weight: 550;
  font-size: 28px;
  line-height: 36px;
  letter-spacing: -0.1px;
}

.typography.heading-s,
h4 {
  font-family: OakSans, system-ui;
  font-weight: 550;
  font-size: 24px;
  line-height: 33px;
  letter-spacing: 0px;
}

.typography.title-l {
  font-family: OakSans, system-ui;
  font-weight: 550;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0px;
}

.typography.title-m {
  font-family: OakSans, system-ui;
  font-weight: 550;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px;
}

.typography.title-s {
  font-family: OakSans, system-ui;
  font-weight: 550;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
}

.typography.body-l {
  font-family: OakSans, system-ui;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.3px;
}

.typography.body-m,
p {
  font-family: OakSans, system-ui;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.3px;
}

.typography.body-s,
p > small {
  font-family: OakSans, system-ui;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.4px;
}

.typography.moderate.body-l {
  font-family: OakSans, system-ui;
  font-weight: 475;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.3px;
}

.typography.moderate.body-m,
p.moderate {
  font-family: OakSans, system-ui;
  font-weight: 475;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.3px;
}

.typography.moderate.body-s,
p.moderate > small {
  font-family: OakSans, system-ui;
  font-weight: 475;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.4px;
}

.typography.strong.body-l,
.typography.body-l > strong {
  font-family: OakSans, system-ui;
  font-weight: 550;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.3px;
}

.typography.strong.body-m,
p.strong,
.typography.body-m > strong,
p > strong {
  font-family: OakSans, system-ui;
  font-weight: 550;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.3px;
}

.typography.strong.body-s,
p.strong > small,
.typography.body-s > strong,
p > small strong,
p > strong small {
  font-family: OakSans, system-ui;
  font-weight: 550;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.4px;
}

.typography.label-l {
  font-family: OakSans, system-ui;
  font-weight: 475;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
}

.typography.label-m {
  font-family: OakSans, system-ui;
  font-weight: 475;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.3px;
}

.typography.label-s {
  font-family: OakSans, system-ui;
  font-weight: 475;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.5px;
}
