.background-color.transparent {
  background-color: #ffffff01;
}

.background-color.strong {
  background-color: var(--color-alias-neutral-11);
}

.background-color.muted {
  background-color: var(--color-alias-neutral-5);
}

.background-color.muted.hover:hover {
  background-color: var(--color-alias-neutral-6);
}

.background-color.muted:active {
  background-color: var(--color-alias-neutral-7);
}

.background-color.subtle.hover {
  background-color: var(--color-alias-neutral-4);
}

.background-color.subtle.hover:hover {
  background-color: var(--color-alias-neutral-5);
}

.background-color.subtle:active {
  background-color: var(--color-alias-neutral-6);
}

.background-color.accent.strong {
  background-color: var(--color-alias-accent-11);
}

.background-color.accent.strong.hover:hover {
  background-color: var(--color-alias-accent-12);
}

.background-color.accent.strong:active {
  background-color: var(--color-alias-accent-13);
}

.background-color.accent.muted {
  background-color: var(--color-alias-accent-5);
}

.background-color.accent.muted.hover:hover {
  background-color: var(--color-alias-accent-6);
}

.background-color.accent.muted:active {
  background-color: var(--color-alias-accent-7);
}

.background-color.accent.subtle {
  background-color: var(--color-alias-accent-4);
}

.background-color.accent.subtle.hover:hover {
  background-color: var(--color-alias-accent-5);
}

.background-color.accent.subtle:active {
  background-color: var(--color-alias-accent-6);
}

.background-color.accent.selected {
  background-color: var(--color-alias-accent-6);
}

.background-color.success.strong {
  background-color: var(--color-alias-success-11);
}

.background-color.success.muted {
  background-color: var(--color-alias-success-5);
}

.background-color.success.subtle {
  background-color: var(--color-alias-success-4);
}
.background-color.critical.strong {
  background-color: var(--color-alias-critical-11);
}

.background-color.critical.strong.hover:hover {
  background-color: var(--color-alias-critical-12);
}

.background-color.critical.strong:active {
  background-color: var(--color-alias-critical-13);
}

.background-color.critical.muted {
  background-color: var(--color-alias-critical-5);
}

.background-color.critical.muted.hover:hover {
  background-color: var(--color-alias-critical-6);
}

.background-color.critical.muted:active {
  background-color: var(--color-alias-critical-7);
}

.background-color.critical.subtle {
  background-color: var(--color-alias-critical-4);
}

.background-color.critical.subtle.hover:hover {
  background-color: var(--color-alias-critical-5);
}

.background-color.critical.subtle:active {
  background-color: var(--color-alias-critical-6);
}

.background-color.critical.selected {
  background-color: var(--color-alias-critical-6);
}

.background-color.highlight.strong {
  background-color: var(--color-alias-highlight-11);
}

.background-color.highlight.muted {
  background-color: var(--color-alias-highlight-5);
}

.background-color.highlight.subtle {
  background-color: var(--color-alias-highlight-4);
}
