.border {
  border-color: var(--color-alias-neutral-8);
  border-style: solid;
}

.border.hover:hover {
  border-color: var(--color-alias-neutral-9);
}

.border.subtle {
  border-color: var(--color-alias-neutral-7);
}

.border.subtle.hover:hover {
  border-color: var(--color-alias-neutral-8);
}

.border.strong {
  border-color: var(--color-alias-neutral-13);
}

.border.selected {
  border-color: var(--color-alias-neutral-9);
}

.border.disabled,
.border:disabled {
  border-color: var(--color-alias-neutral-5);
}

.border.accent {
  border-color: var(--color-alias-accent-8);
}

.border.accent.subtle {
  border-color: var(--color-alias-accent-7);
}

.border.accent.strong,
.border.accent.selected {
  border-color: var(--color-alias-accent-10);
}

.border.success {
  border-color: var(--color-alias-success-8);
}

.border.success.subtle {
  border-color: var(--color-alias-success-7);
}

.border.critical {
  border-color: var(--color-alias-critical-8);
}

.border.critical.hover:hover {
  border-color: var(--color-alias-critical-9);
}

.border.critical.subtle {
  border-color: var(--color-alias-critical-7);
}

.border.accent.strong {
  border-color: var(--color-alias-critical-10);
}

.border.highlight {
  border-color: var(--color-alias-highlight-8);
}

.border.highlight.subtle {
  border-color: var(--color-alias-highlight-7);
}
