svg.icon {
  --color-icon: var(--color-alias-neutral-10);
  --color-icon-hover: var(--color-alias-neutral-11);
  --color-icon-disabled: var(--color-alias-neutral-9);
  --color-icon-success: var(--color-alias-success-11);
  --color-icon-critical: var(--color-alias-critical-11);
  --color-icon-highlight: var(--color-alias-highlight-11);
  /* Static & Inverse not implemented (not sure how it is used) */
}

svg.icon {
  color: var(--color-icon);
}

input:hover > svg.icon,
button:hover > svg.icon,
.hover:hover > svg.icon {
  color: var(--color-icon-hover);
}

:disabled > svg.icon {
  color: var(--color-icon-disabled);
}

.success svg.icon,
svg.icon.success {
  color: var(--color-icon-success);
}

.critical svg.icon,
svg.icon.critical {
  color: var(--color-icon-critical);
}

.highlight svg.icon,
svg.icon.highlight {
  color: var(--color-icon-highlight);
}
