@media (prefers-color-scheme: dark) {
  :root {
    /* alias: neutral, palette: iron */
    --color-alias-neutral-1: #111213;
    --color-alias-neutral-2: #17181a;
    --color-alias-neutral-3: #1c1d20;
    --color-alias-neutral-4: #202225;
    --color-alias-neutral-5: #25262a;
    --color-alias-neutral-6: #292b30;
    --color-alias-neutral-7: #2e3036;
    --color-alias-neutral-8: #383a40;
    --color-alias-neutral-9: #4f525b;
    --color-alias-neutral-10: #6c707b;
    --color-alias-neutral-11: #717682;
    --color-alias-neutral-12: #777c87;
    --color-alias-neutral-13: #8e929d;
    --color-alias-neutral-14: #b4b7c1;
    --color-alias-neutral-15: #f0f2f5;
    /* alias: accent, palette: indigo */
    --color-alias-accent-1: #0f111a;
    --color-alias-accent-2: #151726;
    --color-alias-accent-3: #181a32;
    --color-alias-accent-4: #1c1e3b;
    --color-alias-accent-5: #202245;
    --color-alias-accent-6: #232650;
    --color-alias-accent-7: #27295c;
    --color-alias-accent-8: #31327a;
    --color-alias-accent-9: #4241a8;
    --color-alias-accent-10: #5e60dc;
    --color-alias-accent-11: #6567e7;
    --color-alias-accent-12: #6a6eeb;
    --color-alias-accent-13: #7e85f9;
    --color-alias-accent-14: #9fa9fc;
    --color-alias-accent-15: #dadffe;
    /* alias: success, palette: viridian */
    --color-alias-success-1: #0b1411;
    --color-alias-success-2: #0f1b17;
    --color-alias-success-3: #10211b;
    --color-alias-success-4: #0e271f;
    --color-alias-success-5: #0f2d23;
    --color-alias-success-6: #103328;
    --color-alias-success-7: #0a392c;
    --color-alias-success-8: #0d4838;
    --color-alias-success-9: #13604c;
    --color-alias-success-10: #168064;
    --color-alias-success-11: #148669;
    --color-alias-success-12: #1f8c6f;
    --color-alias-success-13: #37a585;
    --color-alias-success-14: #64c7a7;
    --color-alias-success-15: #b3f1da;
    /* alias: critical, palette: ruby */
    --color-alias-critical-1: #190e12;
    --color-alias-critical-2: #241217;
    --color-alias-critical-3: #2c141b;
    --color-alias-critical-4: #33181f;
    --color-alias-critical-5: #3c1a22;
    --color-alias-critical-6: #461c25;
    --color-alias-critical-7: #4f1d28;
    --color-alias-critical-8: #652330;
    --color-alias-critical-9: #8c2b3b;
    --color-alias-critical-10: #c93951;
    --color-alias-critical-11: #d43f56;
    --color-alias-critical-12: #dd435b;
    --color-alias-critical-13: #f25c71;
    --color-alias-critical-14: #fc8999;
    --color-alias-critical-15: #fed5db;
    /* alias: highlight, palette: sapphire */
    --color-alias-highlight-1: #0c121a;
    --color-alias-highlight-2: #0f1926;
    --color-alias-highlight-3: #0f1d2f;
    --color-alias-highlight-4: #102239;
    --color-alias-highlight-5: #102743;
    --color-alias-highlight-6: #102c4d;
    --color-alias-highlight-7: #103058;
    --color-alias-highlight-8: #113d70;
    --color-alias-highlight-9: #185295;
    --color-alias-highlight-10: #2571c9;
    --color-alias-highlight-11: #2877d3;
    --color-alias-highlight-12: #2f7dd9;
    --color-alias-highlight-13: #4693f1;
    --color-alias-highlight-14: #7cb4fc;
    --color-alias-highlight-15: #d0e3fc;
    /* alias: neutral-alpha, palette: iron-alpha */
    --color-alias-neutral-alpha-1: #00000045;
    --color-alias-neutral-alpha-2: #17181a01;
    --color-alias-neutral-alpha-3: #c0c1e308;
    --color-alias-neutral-alpha-4: #cbe0f60d;
    --color-alias-neutral-alpha-5: #e0e1ff12;
    --color-alias-neutral-alpha-6: #cbd6f61a;
    --color-alias-neutral-alpha-7: #cad3f121;
    --color-alias-neutral-alpha-8: #dbe2fa2b;
    --color-alias-neutral-alpha-9: #d6dffa4a;
    --color-alias-neutral-alpha-10: #dee6fc6e;
    --color-alias-neutral-alpha-11: #d9e3fc75;
    --color-alias-neutral-alpha-12: #dde7fd7a;
    --color-alias-neutral-alpha-13: #e3eafc94;
    --color-alias-neutral-alpha-14: #f0f3ffba;
    --color-alias-neutral-alpha-15: #fbfcfef5;
    /* alias: accent-alpha, palette: indigo-alpha */
    --color-alias-accent-alpha-1: #00041a59;
    --color-alias-accent-alpha-2: #010e9d17;
    --color-alias-accent-alpha-3: #1f2af41c;
    --color-alias-accent-alpha-4: #3741f626;
    --color-alias-accent-alpha-5: #454bfc30;
    --color-alias-accent-alpha-6: #4b54fb3d;
    --color-alias-accent-alpha-7: #4d53fe4a;
    --color-alias-accent-alpha-8: #5757ff6b;
    --color-alias-accent-alpha-9: #5e5bfba1;
    --color-alias-accent-alpha-10: #6c6efed9;
    --color-alias-accent-alpha-11: #6c6efee5;
    --color-alias-accent-alpha-12: #7277fdeb;
    --color-alias-accent-alpha-13: #727afefa;
    --color-alias-accent-alpha-14: #9fa9fefc;
    --color-alias-accent-alpha-15: #dadffef5;
    /* floating colors */
    --color-surface-default: #17181a;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    /* alias: neutral, palette: iron */
    --color-alias-neutral-1: #fdfdfe;
    --color-alias-neutral-2: #fbfcfd;
    --color-alias-neutral-3: #f9fafb;
    --color-alias-neutral-4: #f6f7fa;
    --color-alias-neutral-5: #eef0f4;
    --color-alias-neutral-6: #e5e8ee;
    --color-alias-neutral-7: #dbdee6;
    --color-alias-neutral-8: #cfd2dc;
    --color-alias-neutral-9: #b6bac7;
    --color-alias-neutral-10: #858a9a;
    --color-alias-neutral-11: #6f7588;
    --color-alias-neutral-12: #697082;
    --color-alias-neutral-13: #606677;
    --color-alias-neutral-14: #4d5261;
    --color-alias-neutral-15: #1c1f27;
    /* alias: accent, palette: indigo */
    --color-alias-accent-1: #fdfdfe;
    --color-alias-accent-2: #fbfbfe;
    --color-alias-accent-3: #f9faff;
    --color-alias-accent-4: #f3f4ff;
    --color-alias-accent-5: #eaedff;
    --color-alias-accent-6: #e2e6ff;
    --color-alias-accent-7: #d6dcff;
    --color-alias-accent-8: #c8cffe;
    --color-alias-accent-9: #9fa9ff;
    --color-alias-accent-10: #7377fd;
    --color-alias-accent-11: #645fff;
    --color-alias-accent-12: #5f58f8;
    --color-alias-accent-13: #5750e3;
    --color-alias-accent-14: #423cb2;
    --color-alias-accent-15: #242461;
    /* alias: success, palette: emerald */
    --color-alias-success-1: #fcfefd;
    --color-alias-success-2: #f9fdfb;
    --color-alias-success-3: #f6fcf8;
    --color-alias-success-4: #ebf9f2;
    --color-alias-success-5: #dff5e9;
    --color-alias-success-6: #d4f0e1;
    --color-alias-success-7: #c4e8d6;
    --color-alias-success-8: #ade1c6;
    --color-alias-success-9: #73c59e;
    --color-alias-success-10: #329b6c;
    --color-alias-success-11: #118659;
    --color-alias-success-12: #038053;
    --color-alias-success-13: #0e774e;
    --color-alias-success-14: #0c6240;
    --color-alias-success-15: #173526;
    /* alias: critical, palette: cinnabar */
    --color-alias-critical-1: #fffdfd;
    --color-alias-critical-2: #fffafb;
    --color-alias-critical-3: #fff8f9;
    --color-alias-critical-4: #fff1f3;
    --color-alias-critical-5: #ffe8ea;
    --color-alias-critical-6: #ffdfe2;
    --color-alias-critical-7: #fad2d6;
    --color-alias-critical-8: #f6c4c7;
    --color-alias-critical-9: #ff888e;
    --color-alias-critical-10: #ed444c;
    --color-alias-critical-11: #dd3438;
    --color-alias-critical-12: #d62b32;
    --color-alias-critical-13: #c22631;
    --color-alias-critical-14: #9b0c28;
    --color-alias-critical-15: #5b001a;
    /* alias: highlight, palette: sapphire */
    --color-alias-highlight-1: #fcfdff;
    --color-alias-highlight-2: #fafcfe;
    --color-alias-highlight-3: #f7faff;
    --color-alias-highlight-4: #f1f6fc;
    --color-alias-highlight-5: #e6effc;
    --color-alias-highlight-6: #dbe9fc;
    --color-alias-highlight-7: #cbe0fc;
    --color-alias-highlight-8: #b6d5fd;
    --color-alias-highlight-9: #7bb4fd;
    --color-alias-highlight-10: #2c88f2;
    --color-alias-highlight-11: #0675e0;
    --color-alias-highlight-12: #026fd7;
    --color-alias-highlight-13: #0267c7;
    --color-alias-highlight-14: #0051a0;
    --color-alias-highlight-15: #002d5e;
    /* alias: neutral-alpha, palette: iron-alpha */
    --color-alias-neutral-alpha-1: #37379b03;
    --color-alias-neutral-alpha-2: #37699b05;
    --color-alias-neutral-alpha-3: #37587a08;
    --color-alias-neutral-alpha-4: #1e37820a;
    --color-alias-neutral-alpha-5: #0c296212;
    --color-alias-neutral-alpha-6: #132e641c;
    --color-alias-neutral-alpha-7: #0f235826;
    --color-alias-neutral-alpha-8: #02124730;
    --color-alias-neutral-alpha-9: #03113e4a;
    --color-alias-neutral-alpha-10: #020d2e7a;
    --color-alias-neutral-alpha-11: #020d2e91;
    --color-alias-neutral-alpha-12: #010d2b96;
    --color-alias-neutral-alpha-13: #030c27a1;
    --color-alias-neutral-alpha-14: #01081db2;
    --color-alias-neutral-alpha-15: #03060fe5;
    /* alias: accent-alpha, palette: indigo-alpha */
    --color-alias-accent-alpha-1: #37379b03;
    --color-alias-accent-alpha-2: #3737cd05;
    --color-alias-accent-alpha-3: #3758ff08;
    --color-alias-accent-alpha-4: #0f23ff0d;
    --color-alias-accent-alpha-5: #1637ff17;
    --color-alias-accent-alpha-6: #0d2fff1f;
    --color-alias-accent-alpha-7: #0e31ff2b;
    --color-alias-accent-alpha-8: #0525fa38;
    --color-alias-accent-alpha-9: #021dff61;
    --color-alias-accent-alpha-10: #0008fb8c;
    --color-alias-accent-alpha-11: #0901ffa1;
    --color-alias-accent-alpha-12: #0d02f4a8;
    --color-alias-accent-alpha-13: #0c01d6b0;
    --color-alias-accent-alpha-14: #0a029bc4;
    --color-alias-accent-alpha-15: #000047db;
    /* floating colors */
    --color-surface-default: #fdfdfe;
  }
}

.default-background {
  background-color: var(--color-surface-default);
}

.color-scheme-dark {
  color-scheme: dark;
}

.color-scheme-light {
  color-scheme: light;
}
