:root {
  --palette-iron-1: #fdfdfe;
  --palette-iron-2: #fbfcfd;
  --palette-iron-3: #f9fafb;
  --palette-iron-4: #f6f7fa;
  --palette-iron-5: #eef0f4;
  --palette-iron-6: #e5e8ee;
  --palette-iron-7: #dbdee6;
  --palette-iron-8: #cfd2dc;
  --palette-iron-9: #b6bac7;
  --palette-iron-10: #858a9a;
  --palette-iron-11: #6f7588;
  --palette-iron-12: #697082;
  --palette-iron-13: #606677;
  --palette-iron-14: #4d5261;
  --palette-iron-15: #1c1f27;

  --palette-iron-alpha-1: #37379b03;
  --palette-iron-alpha-2: #37699b05;
  --palette-iron-alpha-3: #37587a08;
  --palette-iron-alpha-4: #1e37820a;
  --palette-iron-alpha-5: #0c296212;
  --palette-iron-alpha-6: #132e641c;
  --palette-iron-alpha-7: #0f235826;
  --palette-iron-alpha-8: #02124730;
  --palette-iron-alpha-9: #03113e4a;
  --palette-iron-alpha-10: #020d2e7a;
  --palette-iron-alpha-11: #020d2e91;
  --palette-iron-alpha-12: #010d2b96;
  --palette-iron-alpha-13: #030c27a1;
  --palette-iron-alpha-14: #01081db2;
  --palette-iron-alpha-15: #03060fe5;

  --palette-indigo-1: #fdfdfe;
  --palette-indigo-2: #fbfbfe;
  --palette-indigo-3: #f9faff;
  --palette-indigo-4: #f3f4ff;
  --palette-indigo-5: #eaedff;
  --palette-indigo-6: #e2e6ff;
  --palette-indigo-7: #d6dcff;
  --palette-indigo-8: #c8cffe;
  --palette-indigo-9: #9fa9ff;
  --palette-indigo-10: #7377fd;
  --palette-indigo-11: #645fff;
  --palette-indigo-12: #5f58f8;
  --palette-indigo-13: #5750e3;
  --palette-indigo-14: #423cb2;
  --palette-indigo-15: #242461;

  --palette-indigo-alpha-1: #37379b03;
  --palette-indigo-alpha-2: #3737cd05;
  --palette-indigo-alpha-3: #3758ff08;
  --palette-indigo-alpha-4: #0f23ff0d;
  --palette-indigo-alpha-5: #1637ff17;
  --palette-indigo-alpha-6: #0d2fff1f;
  --palette-indigo-alpha-7: #0e31ff2b;
  --palette-indigo-alpha-8: #0525fa38;
  --palette-indigo-alpha-9: #021dff61;
  --palette-indigo-alpha-10: #0008fb8c;
  --palette-indigo-alpha-11: #0901ffa1;
  --palette-indigo-alpha-12: #0d02f4a8;
  --palette-indigo-alpha-13: #0c01d6b0;
  --palette-indigo-alpha-14: #0a029bc4;
  --palette-indigo-alpha-15: #000047db;

  --palette-emerald-1: #fcfefd;
  --palette-emerald-2: #f9fdfb;
  --palette-emerald-3: #f6fcf8;
  --palette-emerald-4: #ebf9f2;
  --palette-emerald-5: #dff5e9;
  --palette-emerald-6: #d4f0e1;
  --palette-emerald-7: #c4e8d6;
  --palette-emerald-8: #ade1c6;
  --palette-emerald-9: #73c59e;
  --palette-emerald-10: #329b6c;
  --palette-emerald-11: #118659;
  --palette-emerald-12: #038053;
  --palette-emerald-13: #0e774e;
  --palette-emerald-14: #0c6240;
  --palette-emerald-15: #173526;

  --palette-cinnabar-1: #fffdfd;
  --palette-cinnabar-2: #fffafb;
  --palette-cinnabar-3: #fff8f9;
  --palette-cinnabar-4: #fff1f3;
  --palette-cinnabar-5: #ffe8ea;
  --palette-cinnabar-6: #ffdfe2;
  --palette-cinnabar-7: #fad2d6;
  --palette-cinnabar-8: #f6c4c7;
  --palette-cinnabar-9: #ff888e;
  --palette-cinnabar-10: #ed444c;
  --palette-cinnabar-11: #dd3438;
  --palette-cinnabar-12: #d62b32;
  --palette-cinnabar-13: #c22631;
  --palette-cinnabar-14: #9b0c28;
  --palette-cinnabar-15: #5b001a;

  --palette-sapphire-1: #fcfdff;
  --palette-sapphire-2: #fafcfe;
  --palette-sapphire-3: #f7faff;
  --palette-sapphire-4: #f1f6fc;
  --palette-sapphire-5: #e6effc;
  --palette-sapphire-6: #dbe9fc;
  --palette-sapphire-7: #cbe0fc;
  --palette-sapphire-8: #b6d5fd;
  --palette-sapphire-9: #7bb4fd;
  --palette-sapphire-10: #2c88f2;
  --palette-sapphire-11: #0675e0;
  --palette-sapphire-12: #026fd7;
  --palette-sapphire-13: #0267c7;
  --palette-sapphire-14: #0051a0;
  --palette-sapphire-15: #002d5e;
}
