@media (prefers-color-scheme: dark) {
  :root {
    --color-surface-default: #17181a;
    --color-alias-neutral-9: #4f525b;
    --color-alias-neutral-10: #6c707b;
    --color-alias-neutral-11: #717682;
    --color-alias-success-11: #148669;
    --color-alias-critical-11: #dd3438;
    --color-alias-highlight-11: #2877d3;
    /* Static & Inverse not implemented (not sure how it is used) */
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --color-surface-default: #fdfdfe;
    --color-alias-neutral-9: #b6bac7;
    --color-alias-neutral-10: #858a9a;
    --color-alias-neutral-11: #6f7588;
    --color-alias-success-11: #118659;
    --color-alias-critical-11: #dd3438;
    --color-alias-highlight-11: #0675e0;
    /* Static & Inverse not implemented (not sure how it is used) */
  }
}

.default-background {
  background-color: var(--color-surface-default);
}

.color-scheme-dark {
  color-scheme: dark;
}

.color-scheme-light {
  color-scheme: light;
}
