.gap-0 {
  gap: var(--space-0);
}

.gap-100 {
  gap: var(--space-100);
}

.gap-200 {
  gap: var(--space-200);
}

.gap-300 {
  gap: var(--space-300);
}

.gap-400 {
  gap: var(--space-400);
}

.gap-500 {
  gap: var(--space-500);
}

.row-gap-0 {
  row-gap: var(--space-0);
}

.row-gap-100 {
  row-gap: var(--space-100);
}

.row-gap-200 {
  row-gap: var(--space-200);
}

.row-gap-300 {
  row-gap: var(--space-300);
}

.row-gap-400 {
  row-gap: var(--space-400);
}

.row-gap-500 {
  row-gap: var(--space-500);
}

.column-gap-0 {
  column-gap: var(--space-0);
}

.column-gap-100 {
  column-gap: var(--space-100);
}

.column-gap-200 {
  column-gap: var(--space-200);
}

.column-gap-300 {
  column-gap: var(--space-300);
}

.column-gap-400 {
  column-gap: var(--space-400);
}

.column-gap-500 {
  column-gap: var(--space-500);
}
