.padding-0 {
  padding: var(--space-0);
}
.padding-50 {
  padding: var(--space-50);
}
.padding-100 {
  padding: var(--space-100);
}
.padding-150 {
  padding: var(--space-150);
}
.padding-200 {
  padding: var(--space-200);
}
.padding-300 {
  padding: var(--space-300);
}
.padding-400 {
  padding: var(--space-400);
}
.padding-500 {
  padding: var(--space-500);
}
.padding-600 {
  padding: var(--space-600);
}
.padding-800 {
  padding: var(--space-800);
}
.padding-1000 {
  padding: var(--space-1000);
}
.padding-1200 {
  padding: var(--space-1200);
}
.padding-1600 {
  padding: var(--space-1600);
}
.padding-2000 {
  padding: var(--space-2000);
}
.padding-2400 {
  padding: var(--space-2400);
}
.padding-3200 {
  padding: var(--space-3200);
}

/* TODO: define how to handle padding */
