span.kanto-badge {
  padding: var(--space-0) var(--space-100);
  display: flex;
  box-sizing: border-box;
  align-items: center;
}

span.kanto-badge.icon-only {
  padding: var(--space-0) var(--space-0);
}

span.kanto-badge.size-m {
  height: var(--space-600);
}

span.kanto-badge.size-m.icon-only {
  width: var(--space-600);
  justify-content: center;
}

span.kanto-badge.size-m > span {
  padding: var(--space-0) var(--space-100);
}

span.kanto-badge.size-s {
  height: var(--space-500);
}

span.kanto-badge.size-s.icon-only {
  width: var(--space-500);
  justify-content: center;
}

span.kanto-badge.size-s > svg[class="kanto-icon"] {
  width: 16px;
  height: 16px;
}

span.kanto-badge.size-s > span {
  padding: var(--space-0) var(--space-50);
}

span.kanto-badge.size-xs {
  height: var(--space-400);
}

span.kanto-badge.size-xs > span {
  padding: var(--space-0) var(--space-0);
}

span.kanto-badge.color-neutral {
  color: var(--color-text-muted);
}

span.kanto-badge.color-accent {
  color: var(--color-text-accent-subtle);
}

span.kanto-badge.color-success {
  color: var(--color-text-success-subtle);
}

span.kanto-badge.color-critical {
  color: var(--color-text-critical-subtle);
}

span.kanto-badge.color-highlight {
  color: var(--color-text-highlight-subtle);
}

span.kanto-badge.solid,
span.kanto-badge.soft,
span.kanto-badge.outline {
  border-radius: var(--border-radius-s);
}

span.kanto-badge.color-neutral.soft {
  background-color: var(--color-background-subtle);
  border: solid var(--border-width-100) var(--color-border-subtle);
}

span.kanto-badge.color-accent.soft {
  background-color: var(--color-background-accent-subtle);
  border: solid var(--border-width-100) var(--color-border-accent-subtle);
}

span.kanto-badge.color-success.soft {
  background-color: var(--color-background-success-subtle);
  border: solid var(--border-width-100) var(--color-border-success-subtle);
}

span.kanto-badge.color-critical.soft {
  background-color: var(--color-background-critical-subtle);
  border: solid var(--border-width-100) var(--color-border-critical-subtle);
}

span.kanto-badge.color-highlight.soft {
  background-color: var(--color-background-highlight-subtle);
  border: solid var(--border-width-100) var(--color-border-highlight-subtle);
}

span.kanto-badge.outline {
  border: solid var(--border-width-100) var(--color-border-subtle);
}

span.kanto-badge.color-accent > svg[class="kanto-icon"] {
  color: var(--color-icon-accent);
}

span.kanto-badge.color-success > svg[class="kanto-icon"] {
  color: var(--color-icon-success);
}

span.kanto-badge.color-critical > svg[class="kanto-icon"] {
  color: var(--color-icon-critical);
}

span.kanto-badge.color-highlight > svg[class="kanto-icon"] {
  color: var(--color-icon-highlight);
}

span.kanto-badge.color-neutral.solid,
span.kanto-badge.color-accent.solid,
span.kanto-badge.color-success.solid,
span.kanto-badge.color-critical.solid,
span.kanto-badge.color-highlight.solid {
  color: var(--color-text-static-white);
}

span.kanto-badge.color-neutral.solid > svg[class="kanto-icon"],
span.kanto-badge.color-accent.solid > svg[class="kanto-icon"],
span.kanto-badge.color-success.solid > svg[class="kanto-icon"],
span.kanto-badge.color-critical.solid > svg[class="kanto-icon"],
span.kanto-badge.color-highlight.solid > svg[class="kanto-icon"] {
  color: var(--color-icon-static-white);
}

span.kanto-badge.color-neutral.solid {
  background-color: var(--color-background-strong);
}

span.kanto-badge.color-accent.solid {
  background-color: var(--color-background-accent-strong);
}

span.kanto-badge.color-success.solid {
  background-color: var(--color-background-success-strong);
}

span.kanto-badge.color-critical.solid {
  background-color: var(--color-background-critical-strong);
}

span.kanto-badge.color-highlight.solid {
  background-color: var(--color-background-highlight-strong);
}

span.kanto-badge.color-decorative-gold.soft {
  background-color: light-dark(var(--palette-gold-4), var(--palette-golddark-4));
  border: solid var(--border-width-100) light-dark(var(--palette-gold-7), var(--palette-golddark-7));
}

span.kanto-badge.color-decorative-silver.soft {
  background-color: light-dark(var(--palette-silver-4), var(--palette-silverdark-4));
  border: solid var(--border-width-100) light-dark(var(--palette-silver-7), var(--palette-silverdark-7));
}

span.kanto-badge.color-decorative-bronze.soft {
  background-color: light-dark(var(--palette-bronze-4), var(--palette-bronzedark-4));
  border: solid var(--border-width-100) light-dark(var(--palette-bronze-7), var(--palette-bronzedark-7));
}

span.kanto-badge.color-decorative-topaz.soft {
  background-color: light-dark(var(--palette-topaz-4), var(--palette-topazdark-4));
  border: solid var(--border-width-100) light-dark(var(--palette-topaz-7), var(--palette-topazdark-7));
}

span.kanto-badge.color-decorative-vermilion.soft {
  background-color: light-dark(var(--palette-vermilion-4), var(--palette-vermiliondark-4));
  border: solid var(--border-width-100) light-dark(var(--palette-vermilion-7), var(--palette-vermiliondark-7));
}

span.kanto-badge.color-decorative-crimson.soft {
  background-color: light-dark(var(--palette-crimson-4), var(--palette-crimsondark-4));
  border: solid var(--border-width-100) light-dark(var(--palette-crimson-7), var(--palette-crimsondark-7));
}

span.kanto-badge.color-decorative-magenta.soft {
  background-color: light-dark(var(--palette-magenta-4), var(--palette-magentadark-4));
  border: solid var(--border-width-100) light-dark(var(--palette-magenta-7), var(--palette-magentadark-7));
}

span.kanto-badge.color-decorative-fuchsia.soft {
  background-color: light-dark(var(--palette-fuchsia-4), var(--palette-fuchsiadark-4));
  border: solid var(--border-width-100) light-dark(var(--palette-fuchsia-7), var(--palette-fuchsiadark-7));
}

span.kanto-badge.color-decorative-amethyst.soft {
  background-color: light-dark(var(--palette-amethyst-4), var(--palette-amethystdark-4));
  border: solid var(--border-width-100) light-dark(var(--palette-amethyst-7), var(--palette-amethystdark-7));
}

span.kanto-badge.color-decorative-lavender.soft {
  background-color: light-dark(var(--palette-lavender-4), var(--palette-lavenderdark-4));
  border: solid var(--border-width-100) light-dark(var(--palette-lavender-7), var(--palette-lavenderdark-7));
}

span.kanto-badge.color-decorative-cobalt.soft {
  background-color: light-dark(var(--palette-cobalt-4), var(--palette-cobaltdark-4));
  border: solid var(--border-width-100) light-dark(var(--palette-cobalt-7), var(--palette-cobaltdark-7));
}

span.kanto-badge.color-decorative-cerulean.soft {
  background-color: light-dark(var(--palette-cerulean-4), var(--palette-ceruleandark-4));
  border: solid var(--border-width-100) light-dark(var(--palette-cerulean-7), var(--palette-ceruleandark-7));
}

span.kanto-badge.color-decorative-cyan.soft {
  background-color: light-dark(var(--palette-cyan-4), var(--palette-cyandark-4));
  border: solid var(--border-width-100) light-dark(var(--palette-cyan-7), var(--palette-cyandark-7));
}

span.kanto-badge.color-decorative-celadon.soft {
  background-color: light-dark(var(--palette-celadon-4), var(--palette-celadondark-4));
  border: solid var(--border-width-100) light-dark(var(--palette-celadon-7), var(--palette-celadondark-7));
}

span.kanto-badge.color-decorative-peridot.soft {
  background-color: light-dark(var(--palette-peridot-4), var(--palette-peridotdark-4));
  border: solid var(--border-width-100) light-dark(var(--palette-peridot-7), var(--palette-peridotdark-7));
}

span.kanto-badge.color-decorative-olive.soft {
  background-color: light-dark(var(--palette-olive-4), var(--palette-olivedark-4));
  border: solid var(--border-width-100) light-dark(var(--palette-olive-7), var(--palette-olivedark-7));
}

span.kanto-badge.color-decorative-saffron.soft {
  background-color: light-dark(var(--palette-saffron-4), var(--palette-saffrondark-4));
  border: solid var(--border-width-100) light-dark(var(--palette-saffron-7), var(--palette-saffrondark-7));
}

span.kanto-badge.color-decorative-azure.soft {
  background-color: light-dark(var(--palette-azure-4), var(--palette-azuredark-4));
  border: solid var(--border-width-100) light-dark(var(--palette-azure-7), var(--palette-azuredark-7));
}

span.kanto-badge.color-decorative-gold,
span.kanto-badge.color-decorative-gold > svg[class="kanto-icon"] {
  color: light-dark(var(--palette-gold-13), var(--palette-golddark-13));
}

span.kanto-badge.color-decorative-silver,
span.kanto-badge.color-decorative-silver > svg[class="kanto-icon"] {
  color: light-dark(var(--palette-silver-13), var(--palette-silverdark-13));
}

span.kanto-badge.color-decorative-bronze,
span.kanto-badge.color-decorative-bronze > svg[class="kanto-icon"] {
  color: light-dark(var(--palette-bronze-13), var(--palette-bronzedark-13));
}

span.kanto-badge.color-decorative-topaz,
span.kanto-badge.color-decorative-topaz > svg[class="kanto-icon"] {
  color: light-dark(var(--palette-topaz-13), var(--palette-topazdark-13));
}

span.kanto-badge.color-decorative-vermilion,
span.kanto-badge.color-decorative-vermilion > svg[class="kanto-icon"] {
  color: light-dark(var(--palette-vermilion-13), var(--palette-vermiliondark-13));
}

span.kanto-badge.color-decorative-crimson,
span.kanto-badge.color-decorative-crimson > svg[class="kanto-icon"] {
  color: light-dark(var(--palette-crimson-13), var(--palette-crimsondark-13));
}

span.kanto-badge.color-decorative-magenta,
span.kanto-badge.color-decorative-magenta > svg[class="kanto-icon"] {
  color: light-dark(var(--palette-magenta-13), var(--palette-magentadark-13));
}

span.kanto-badge.color-decorative-fuchsia,
span.kanto-badge.color-decorative-fuchsia > svg[class="kanto-icon"] {
  color: light-dark(var(--palette-fuchsia-13), var(--palette-fuchsiadark-13));
}

span.kanto-badge.color-decorative-amethyst,
span.kanto-badge.color-decorative-amethyst > svg[class="kanto-icon"] {
  color: light-dark(var(--palette-amethyst-13), var(--palette-amethystdark-13));
}

span.kanto-badge.color-decorative-lavender,
span.kanto-badge.color-decorative-lavender > svg[class="kanto-icon"] {
  color: light-dark(var(--palette-lavender-13), var(--palette-lavenderdark-13));
}

span.kanto-badge.color-decorative-cobalt,
span.kanto-badge.color-decorative-cobalt > svg[class="kanto-icon"] {
  color: light-dark(var(--palette-cobalt-13), var(--palette-cobaltdark-13));
}

span.kanto-badge.color-decorative-cerulean,
span.kanto-badge.color-decorative-cerulean > svg[class="kanto-icon"] {
  color: light-dark(var(--palette-cerulean-13), var(--palette-ceruleandark-13));
}

span.kanto-badge.color-decorative-cyan,
span.kanto-badge.color-decorative-cyan > svg[class="kanto-icon"] {
  color: light-dark(var(--palette-cyan-13), var(--palette-cyandark-13));
}

span.kanto-badge.color-decorative-celadon,
span.kanto-badge.color-decorative-celadon > svg[class="kanto-icon"] {
  color: light-dark(var(--palette-celadon-13), var(--palette-celadondark-13));
}

span.kanto-badge.color-decorative-peridot,
span.kanto-badge.color-decorative-peridot > svg[class="kanto-icon"] {
  color: light-dark(var(--palette-peridot-13), var(--palette-peridotdark-13));
}

span.kanto-badge.color-decorative-olive,
span.kanto-badge.color-decorative-olive > svg[class="kanto-icon"] {
  color: light-dark(var(--palette-olive-13), var(--palette-olivedark-13));
}

span.kanto-badge.color-decorative-saffron,
span.kanto-badge.color-decorative-saffron > svg[class="kanto-icon"] {
  color: light-dark(var(--palette-saffron-13), var(--palette-saffrondark-13));
}

span.kanto-badge.color-decorative-azure,
span.kanto-badge.color-decorative-azure > svg[class="kanto-icon"] {
  color: light-dark(var(--palette-azure-13), var(--palette-azuredark-13));
}