svg.kanto-icon {
  --icon-size-l: 24px;
  --icon-size-m: 20px;
  --icon-size-s: 16px;
  --icon-size-xs: 12px;
}

svg.kanto-icon.size-l {
  width: var(--icon-size-l);
  height: var(--icon-size-l);
}

svg.kanto-icon,
svg.kanto-icon.size-m {
  width: var(--icon-size-m);
  height: var(--icon-size-m);
}

svg.kanto-icon.size-s {
  width: var(--icon-size-s);
  height: var(--icon-size-s);
}

svg.kanto-icon.size-xs {
  width: var(--icon-size-xs);
  height: var(--icon-size-xs);
}

svg.kanto-icon {
  color: var(--color-icon);
}

.hover:hover svg.kanto-icon {
  color: var(--color-icon-hover);
}

:disabled svg.kanto-icon,
svg.kanto-icon.disabled {
  color: var(--color-icon-disabled);
}

.accent svg.kanto-icon,
svg.kanto-icon.accent {
  color: var(--color-icon-accent);
}

.success svg.kanto-icon,
svg.kanto-icon.success {
  color: var(--color-icon-success);
}

.critical svg.kanto-icon,
svg.kanto-icon.critical {
  color: var(--color-icon-critical);
}

.highlight svg.kanto-icon,
svg.kanto-icon.highlight {
  color: var(--color-icon-highlight);
}

svg.kanto-icon.static-white {
  color: var(--color-icon-static-white);
}

svg.kanto-icon.static-black {
  color: var(--color-icon-static-black);
}

.inverse svg.kanto-icon,
svg.kanto-icon.inverse {
  color: var(--color-icon-static-inverse);
}